@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); 
.home{
    background-color: #0e0c0c;
    vertical-align:center
}
  
.home .blurredBox{
    font-family: 'Montserrat', sans-serif;
    border-radius: 0.25em;
    display:flex;
    flex-direction: column;
    align-items: center ;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    height:70%;
    padding:5% 0;
    overflow: hidden;
}

.home .blurredBox>:first-child{
    width:250px;
    height:250px;
    box-shadow: 1px 1px 3px rgb(0,0,0,.5);
    overflow: hidden;
}

.home .blurredBox .myName{
    font-size: 2rem;
    overflow: hidden;
}
.home .blurredBox .greeting{
    color:white;
    font-size: 1.5rem;
    overflow: hidden;
}
.home .blurredBox .skillHead{
    color:white;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.home .blurredBox .skillHead .skills{
    color:#c40866;
    margin:0px 5px;
}
.home .blurredBox .interests{
    font-size: 1.5rem;
    color:white;
    margin:20px 0px;
    overflow: hidden;
}
@media screen and (max-width:720px) {
    .home .blurredBox>:first-child{
        width:140px;
        height:140px;
        box-shadow: 1px 1px 3px rgb(0,0,0,.5);
    }
    
    .home .blurredBox .skillHead{
        flex-direction: column;
        font-size: 1.2rem;
    }
    .home .blurredBox .skillHead .skills{
        color:#c40866;
        margin:0px 5px;
        font-size: 1.3rem;
    }
    .home .blurredBox .interests{
        font-size: 1rem;
        margin: 20px 10px;
    }
}
  
